@import url('https://fonts.googleapis.com/css2?family=Anta&family=Baloo+Bhaijaan+2:wght@400..800&family=Baloo+Bhaina+2:wght@400..800&family=Bree+Serif&family=Cormorant+Upright:wght@300;400;500;600;700&family=Ojuju:wght@200..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.Groww-Top{
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Groww-logo{
    width: 150px;
    height: 79px;
    display: flex;
    align-items: center;
}
.Groww-logo img{
    width: 148px;
    height: 40px;
    cursor: pointer;
}

/* search */
.Groww-searchContainer{
    width: 443px;
    height: 41px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 5px;
    box-shadow: -2px -2px 5px rgba(148, 148, 148, 0.2),
    2px 2px 5px rgba(148, 148, 148, 0.2);
}

.Groww-searchContainer input{
    margin: 0px 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
}
.Groww-searchContainer i{
    font-size: 15px;
    color: rgba(148, 148, 148);
}

.bankAndAutoPay i{
    padding-top: 8px;
    padding-left: 20px;
}
.dropdown-menu {
    width: 750%;
    height: 80vh;
}
.dropdown-item i{
    padding-right: 15px;
}
#dropdown-item {
    padding: 16px;
}

.stockAndMutualFunds{
    display: flex;
    gap:35px;
    margin-left: 80px;
    margin-top: 45px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}

/* After horizontal line */
.time{
    font-size: 16px;
    font-weight: 400;
}

/* Container */

.indexAndAllIndices{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.index{
    font-size: 20px;
    font-weight: 600;
}
.allIndices{
    color: #00d09c;
}

/* Dark mood */
body.dark-mode {
    background-color: #222;
    color: #ccc;
}

.dark-mode .container {
    background-color: #333;
    color: #fff;
}

.dark-mode .indexAndAllIndices {
    color: #00d09c; /* Color for links in dark mode */
}

/* Checkbox toggle styles */
input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: rgb(204, 200, 200);
    display: block;
    border-radius: 100px;
    position: relative;
    margin-left: 150px;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #00d09c;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}
.dark-mode .dropdown-toggle-split::after {
    color: #fff !important; 
}
/* Container */
.container{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
.left_Continer{
    width: 65%;
    height: 40vh;
}

.market-container{
    display: flex;
    gap: 20px;
    box-sizing: 20px;
    height: 150px; 
}
.nifty{
    width: 35%;
    height: 70px;
    border-radius: 8px ;
    border: 1px solid rgba(173, 170, 170);;
    padding: 14px 16px;
    
}
.sensex{
    width: 35%;
    height: 70px;
    border-radius: 8px;
    border: 1px solid rgba(173, 170, 170);;
    padding: 14px 16px;
}
.bankNifty{
    width: 35%;
    height: 70px;
    border-radius: 8px;
    border: 1px solid rgba(173, 170, 170);;
    padding: 14px 16px;
}
/* Nifty stock price  */
#stockInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
}
#stockInfo p {
    margin: 0;
}

/* Sensex */
.graph-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
}
.graph-container p {
    margin: 0;
}

/* BankNifty */
.graph-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
}
.graph-container p {
    margin: 0;
}
/* Right Container */
.right_Container{
    position: relative;
    width: 45%;
}
.your-Investments{
    display: flex;
    gap: 40%;
    margin-left: 12px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
}
.money{
    border: 1px solid rgba(173, 170, 170);;
    border-radius: 8px;
}
.investment-money{
    display: flex;
    gap: 80%;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
}
.return_current{
    display: flex;
    gap: 50%;
    margin-left: 20px;
}
.all_watchlists{
    display: flex;
    gap: 60%;
    margin-left: 20px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
}
.watchlist{
    display: flex;
    gap: 68%;
    border: 1px solid rgba(173, 170, 170);
    border-radius: 8px;
    height: 10vh;
    
}
.user_watchlist{
    margin-left: 30px;
}
.new-Watchlist{
    display: flex;
    gap: 8%;
    border: 1px solid rgba(173, 170, 170);;
    border-radius: 8px;
    height: 7vh;
}
.pluse_icon{
    margin-left: 30px;
}
.dashbord,
.view-All{
    color: #00d09c;
}
/* Most bought on Groww */

.boxContainer{
    display: flex;
    width: 60%;
    gap: 5px;
    margin-left: 110px;

}
.stockBox{
    height: 25vh;
    width: 25vh;
    border: 0.5px solid rgb(215, 212, 212);
    border-radius: 5px;
    margin-bottom: 55px;
}
.logo{
    display: flex;
}
.logo img{
    margin-top: 14px;
    margin-left: 14px;
    border: 0.5px solid rgb(173, 170, 170);
    border-radius: 5px;
}
.logo i{
    margin-top: 25px;
    margin-left: 100px;
    font-size: large;
    opacity: 0;
}
.text{
    margin-left: 15px;
}

/* Box graph */
.graph-container1 {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-left: 15px;
}
.graph-container p {
    margin: 0;
}